@media screen {
	html {
		color: WindowText !important;
		background-color: Background !important;
		border-color: WindowFrame !important;
		caret-color: WindowText !important;
		/* Width must always be defined by the viewport so content doesn't
		overflow inside the WebView, height must always be defined by the
		content so the WebView can be sized to fit exactly. */
		width: 100vw !important;
		height: max-content !important;
		/* Despite the fact that the width must always be defined by the
			viewport, the viewport width will be 0 if the email is loaded before
			its WebView is laid out in the widget hierarchy. As a workaround, to
			prevent this causing the email being squished down to is minimum
			width and hence being stretched right out in height, set a
			reasonable minimum width. See
			https://gitlab.gnome.org/GNOME/geary/-/issues/283 */
		min-width: 250px !important;
		/* Lock down the box sizing just enough so that the width and height
			constraints above work as expected, and so the element's
			scrollHeight is accurate. */
		box-sizing: border-box !important;
		margin: 0 !important;
		border-width: 0 !important;
	}

	html[dir="auto"]:hover {
		background-color: rgba(red(Background), green(Background), blue(Background), 0.985) !important;
		border-color: rgba(red(WindowFrame), green(WindowFrame), blue(WindowFrame), 0.985) !important;
	}

	* {
		color: WindowText !important;
		background-color: transparent !important;
		caret-color: WindowText !important;
	}

	a {
		color: Highlight !important;
	}

	table {
		/* By default, tables reset the font properties to "normal" */
		font-size: inherit;
	}

	blockquote {
		border-left: 3px Highlight solid !important;
		margin: 0.3em 16px;
		border: 0;
		padding: 0 8px;
	}

	hr {
		background-color: InactiveBorder;
		height: 1px;
		border: 0;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	pre {
		white-space: break-spaces;
	}

	img {
		filter: brightness(40%) drop-shadow(0 0 1rem Background) !important;
	}

	div[id*="quote"],
	div[id*="quote"] *,
	div[class*="quote"],
	div[class*="quote"] *,
	div[id*="signature"][contenteditable="true"],
	div[id*="signature"][contenteditable="true"] * {
		background-color: Background !important;
	}

	div[id*="body"],
	body.plain div,
	body.plain div * {
		color: WindowText !important;
	}

	div[id*="quote"],
	div[id*="quote"] *,
	div[class*="quote"],
	div[class*="quote"] *,
	div[id*="signature"],
	div[id*="signature"] * {
		color: Highlight;
	}

	div[id*="quote"],
	div[class*="quote"] {
		padding: 4px;
	}

	div[class="gmail_attr"] {
		padding-top: calc(1em - 4px);
	}

	button {
		background-image: unset !important;
		background-color: ButtonFace !important;
		outline-color: WindowFrame !important;
		border-color: WindowFrame !important;
		border-bottom-color: WindowFrame !important;
		text-shadow: unset !important;
		box-shadow: unset !important;
	}

	button:hover {
		background-color: ButtonHighlight !important;
	}
}
