/* Root */
@import url('userChrome.d/root.css');

@import url('userChrome.d/extension-sidebar.css');

@import url('userChrome.d/misc.css');

@import url('userChrome.d/bottom-toolbar.css');

@import url('userChrome.d/unified-extensions.css');

@import url('userChrome.d/revamped-sidebar.css');


@import url('userChrome.d/sidebar-logins.css');
@import url('userChrome.d/sidebar-syncedtabs.css');
