@import url('userContent.d/newtab.css');
@import url('userContent.d/about-blank.css');
@import url('userContent.d/treestyletab.css');
@import url('userContent.d/private-root.css');
@import url('userContent.d/sidebar-revamp.css');

/* Sets up minimal scrollbar */
:root {
	scrollbar-width: thin !important;
	scrollbar-color: rgb(161, 161, 161) transparent !important;
}

@layer {
	html {
		background-color: var(--color-base) !important;
	}
}
