@define-color fg #fff;
@define-color bg rgba(27, 34, 36, 1.0);
@define-color crit @fg;
@define-color crit_bg rgb(255, 0, 50);
@define-color close #171D1F;
@define-color close_normal #BF555B;
@define-color close_hover #E25B63;
@define-color close_active #DF3038;

.blurredBG,
#main_window,
.blurredBG.low,
.blurredBG.normal {
	background: @bg;
}

.blurredBG.notification {
	background: rgba(31, 40, 42, 0.75);
	border-radius: 5px;
}

.blurredBG.notification:hover {
	background: rgba(31, 40, 42, 1.0);
}

.blurredBG.notification.critical {
	background: rgba(255, 0, 50, 0.5);
}

.notificationInCenter {
	border-radius: 3px;
}

.notificationInCenter.critical {
	background: rgb(155, 0, 20);
}

.undershoot.top,
.undershoot.right,
.undershoot.bottom,
.undershoot.left {
	background-image: none;
}


/* button {
    background: #263034;
    color: #eae2e0;
    border-radius: 0;
    border-width: 0;
    background-position: 0 0;
    text-shadow: none; 
} */

button.button-close {
	background: @close_normal center;
	margin-right: 5px;
	padding: 01pt 0.5pt 0pt 02pt;
	border-radius: 50%;
}

button.button-close > label {
	font-weight: bolder;
	font-family: monospace;
	font-size: 1.2em;
	color: @close;
}

button.button-close:hover {
	background: @close_hover;
}

button.button-close:active {
	background: @close_active;
}

label {
	color: #eae2e0;
}

label.notification {
	color: #fef3f6;
}

label.critical {
	color: #FFF;
}

.notificationInCenter label.critical {
	color: #FFF;
}

/*button:hover {
    border-radius: 0px;
    background: rgba(34, 43, 46, 0.2);
    border-width: 0;
    border-top: transparent;
    border-color: #f00;
    color: #eae2e0;
} */

.userbutton {
	background: #263034;
}

.userbutton:hover {
	background: #fee;
}

.userbuttonlabel {
	color: #eae2e0;
	font-size: 14px;
}

.userbuttonlabel:hover {
	color: #fee;
}

button.buttonState1 {
	background: rgba(46, 179, 152, 0.5);
}

button.buttonState2 {
	background: rgba(255, 255, 255, 0.3);
}

.userbuttonlabel.buttonState1 {
	color: #fff;
}

.userbuttonlabel.buttonState2 {
	color: #fff;
}

button.buttonState1:hover {
	background: rgba(34, 43, 46, 0.4);
}

button.buttonState2:hover {
	background: rgba(34, 43, 46, 0.3);
}

.userbuttonlabel.buttonState1:hover {
	color: #fee;
}

.userbuttonlabel.buttonState2:hover {
	color: #fee;
}

.title {
	font-weight: bold;
	font-size: 16px;
}

.appname {
	font-size: 12px;
}

.time {
	font-size: 12px;
}

.noti-center.time {
	font-size: 32px;
}
