[submodule "dot-weeb"]
	path = dot-weeb
	url = https://gist.github.com/thblckjkr/a5715793e30254f86f2207eff88dfcb6
[submodule "dot-zsh/plugins/async"]
	path = dot-zsh/plugins/async
	url = https://github.com/mafredri/zsh-async
