[submodule "*"]
	shallow = true
[submodule "dot-weeb"]
	path = dot-weeb
	url = https://gist.github.com/thblckjkr/a5715793e30254f86f2207eff88dfcb6
[submodule "dot-zsh/plugins/async"]
	path = dot-zsh/plugins/async
	url = https://github.com/mafredri/zsh-async
[submodule "dot-zsh/plugins/gitstatus"]
	path = dot-zsh/plugins/gitstatus
	url = https://github.com/romkatv/gitstatus
[submodule "dot-zsh/plugins/you-should-use"]
	path = dot-zsh/plugins/you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use.git
[submodule "dot-zsh/plugins/startup-timer"]
	path = dot-zsh/plugins/startup-timer
	url = https://github.com/paulmelnikow/zsh-startup-timer.git
[submodule "dot-zsh/plugins/bash-completions-fallback"]
	path = dot-zsh/plugins/bash-completions-fallback
	url = https://github.com/3v1n0/zsh-bash-completions-fallback.git
[submodule "dot-zsh/plugins/hacker-quotes"]
	path = dot-zsh/plugins/hacker-quotes
	url = https://github.com/oldratlee/hacker-quotes.git
[submodule "dot-zsh/plugins/zshmarks"]
	path = dot-zsh/plugins/zshmarks
	url = https://github.com/jocelynmallon/zshmarks.git
[submodule "dot-zsh/plugins/bd"]
	path = dot-zsh/plugins/bd
	url = https://github.com/Tarrasch/zsh-bd.git
[submodule "dot-zsh/plugins/auto-notify"]
	path = dot-zsh/plugins/auto-notify
	url = https://github.com/MichaelAquilina/zsh-auto-notify.git
[submodule "dot-zsh/plugins/lazyload"]
	path = dot-zsh/plugins/lazyload
	url = https://github.com/qoomon/zsh-lazyload.git
[submodule "submodules/transmission-trackers"]
	path = submodules/transmission-trackers
	url = https://github.com/blind-oracle/transmission-trackers
[submodule "dot-zsh/plugins/autopair"]
	path = dot-zsh/plugins/autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "dot-zsh/plugins/history-substring-search"]
	path = dot-zsh/plugins/history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "dot-zsh/plugins/completions"]
	path = dot-zsh/plugins/completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "dot-local:share:gedit/plugins/gedi"]
	path = dot-local:share:gedit/plugins/gedi
	url = https://github.com/isamert/gedi.git
[submodule "dot-local:share:gedit/plugins/gedit-crypto"]
	path = dot-local:share:gedit/plugins/gedit-crypto
	url = https://github.com/toobaz/gedit_crypto.git
[submodule "dot-local:share:gedit/plugins/restore-minimap"]
	path = dot-local:share:gedit/plugins/restore-minimap
	url = https://github.com/johnfactotum/gedit-restore-minimap.git
[submodule "dot-local:share:gedit/plugins/wakatime"]
	path = dot-local:share:gedit/plugins/wakatime
	url = https://github.com/wakatime/gedit-wakatime
[submodule "dot-local:share:gedit/plugins/open-uri-context-menu"]
	path = dot-local:share:gedit/plugins/open-uri-context-menu
	url = https://github.com/jpfleury/open-uri-context-menu
[submodule "dot-local:share:gedit/plugins/panel-toggler"]
	path = dot-local:share:gedit/plugins/panel-toggler
	url = https://github.com/hardpixel/gedit-panel-toggler
[submodule "dot-local:share:gedit/plugins/discord-rpc"]
	path = dot-local:share:gedit/plugins/discord-rpc
	url = https://github.com/M4xi1m3/gedit-discord-rpc
[submodule "dot-local:share:gedit/plugins/smart-home"]
	path = dot-local:share:gedit/plugins/smart-home
	url = https://github.com/hardpixel/gedit-smart-home
[submodule "dot-zsh/plugins/fast-syntax-highlighting"]
	path = dot-zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "submodules/tldr"]
	path = submodules/tldr
	url = https://github.com/raylee/tldr-sh-client
[submodule "dot-zsh/plugins/autoswitch_virtualenv"]
	path = dot-zsh/plugins/autoswitch_virtualenv
	url = https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv
[submodule "dot-zsh/plugins/zsh-command-time"]
	path = dot-zsh/plugins/zsh-command-time
	url = https://github.com/popstas/zsh-command-time
[submodule "dot-zsh/plugins/linus-rants"]
	path = dot-zsh/plugins/linus-rants
	url = https://github.com/bhayward93/Linus-rants-ZSH
[submodule "dot-tmux:plugins:tpm"]
	path = dot-tmux:plugins:tpm
	url = https://github.com/tmux-plugins/tpm
