configuration {
	icon-theme: "Papirus-Dark";
	fixed-num-lines: true;
	display-run: " ";
	display-drun: "  ";
	display-window: "  ";
	drun-display-format: "{icon} {name}";
	show-icons: true;
}
@theme "slate.rasi"
