@-moz-document url(about:home),
url(about:newtab),
url(about:blank),
url(about:privatebrowsing){

#newtab-customize-overlay,
html:not(#ublock0-epicker):not(.popup-window) body {
	backdrop-filter: blur(15px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-image: var(--backdrop-image) !important;
	overflow: clip;
}

div {
	&:has(main) {
		align-items: center;
		justify-content: center;
	}

	&.search-inner-wrapper {
		display: none !important;
		visibility: collapse !important;
	}

	&.showPrivate.container,
	& main:has(&.search-wrapper) {
		background: light-dark(var(--light-canvas), var(--dark-canvas));
		border-radius: 0.75em;
	}

	& main:has(&.search-wrapper) {
		height: fit-content;
		width: fit-content !important;
		padding: calc(16 * var(--space-xsmall)) !important;
	}

	&.showPrivate.container {
		padding: 1em !important;
	}

	&.non-collapsible-section,
	&.search-wrapper,
	&.logo-and-wordmark,
	&.search-inner-wrapper {
		padding: 0px !important;
		margin: 0px !important;
	}
}

.top-sites-list {
	grid-template-columns: repeat(4, 1fr) !important;
}

.top-sites-list .hide-for-narrow {
	display: inline-block !important;
}

a.top-site-button {
	& div.tile {
		border-radius: 50% !important;
		--button-bg: color-mix(in srgb, currentColor 40%, canvas), color-mix(in srgb, currentColor 25%, canvas);
		background-color: color-mix(in srgb, transparent 40%, light-dark(var(--button-bg))) !important;

		&:is(.active, :focus, :hover) {
			--button-bg: color-mix(in srgb, currentColor 15%, canvas), color-mix(in srgb, currentColor 70%, canvas);
		}
	}

	& div.top-site-icon {
		border-radius: 50% !important;
		width: 100% !important;
		height: 100% !important;
		position: absolute !important;
		background-color: transparent !important;

		&.search-topsite {
			bottom: 10% !important;
			right: 10% !important;
			width: 25% !important;
			height: 25% !important;
			background-color: color-mix(in srgb, transparent 75%, var(--color-accent-primary)) !important;
		}
	}

	& div.title,
	& div.screenshot.active {
		display: none !important;
		visibility: collapse !important;
	}
}

ul.top-sites-list {
	display: inline-grid !important;
	grid-template-columns: auto auto auto auto;
	grid-gap: 1em;
	position: relative !important;
	left: 50% !important;
	transform: translate(-50%, 25%);
}

button.personalize-button {
	opacity: 0.1 !important;

	&:hover {
		opacity: 0.5 !important;
	}
}

li.top-site-outer:is(.active,
	:focus,
	:hover) {
	background: none !important;

	& button.context-menu-button {
		opacity: 0.5 !important;
	}
}

@media(max-width: 609px) {
	ul.top-sites-list {
		grid-template-columns: auto auto !important;

		& li:nth-child(n+5) {
			display: none !important;
		}
	}
}

@media(prefers-color-scheme: dark) {
	a.top-site-button {
		&[href*="github.com"] {
			& > .tile > .icon-wrapper > .top-site-icon.rich-icon {
				filter: invert();
			}
		}
	}
}
}
