@-moz-document url(about:home),
url(about:newtab),
url(about:blank),
url(about:privatebrowsing),
regexp("moz-extension://[0-9a-f-]+/html/tab.html.*") {

	:root {
		color-scheme: light dark;
		--backdrop: center center / cover no-repeat fixed border-box;
		--backdrop-image: url("../day");
		--light-canvas: color-mix(in srgb, transparent 60%, canvas);
		--dark-canvas: color-mix(in srgb, transparent 20%, canvas);
	}

	html:not(.popup-window) body::before {
		width: 0;
		height: 0;
		overflow: hidden;
		content: url("../night") url("../day");
		position: absolute;
	}

	/* Dark Mode */
	@media (prefers-color-scheme: dark) {
		:root {
			--backdrop-image: url("../night");
			/*image(night, ../night), image(day, ../day); */
		}
	}
}
