iframe[src^="moz-extension://"][src$="/resources/tab-preview-frame.html"] {
	background: transparent;
}

@-moz-document regexp("moz-extension:\\/\\/[^/]+\\/resources\\/tab-preview-frame.html($|\\?.+)") {
	html {
		background: transparent !important;
	}

	.tab-preview-panel.open {
		margin-left: calc(var(--panel-width) - var(--thin-tab-width, 84px)) !important;
	}
}

@-moz-document regexp("moz-extension:\\/\\/[^/]+\\/resources\\/group-tab.html($|\\?.+)") {
	body {
		background-color: var(--in-content-page-background);
		color: var(--in-content-page-color);
	}
}

@-moz-document regexp("moz-extension:\\/\\/[^/]+\\/sidebar\\/sidebar.html($|\\?.+)") {

	/* autohide css  */
	#tabbar {
		padding-top: 0.2rem !important;
	}

	div#subpanel-header {
		height: 24px !important;
	}

	/* Hide sound playing/muted button. */
	tab-sound-button.sound-button::before {
		display: none !important;
	}

	#pinned-tabs-container tab-item {
		&:nth-child(1) {
			margin-top: 3px !important;
		}

		&.pinned tab-twisty {
			@media screen and (width > 70px) {
				visibility: visible !important;
			}

			&::before {
				mask-image: url("chrome://global/skin/icons/badge-blue.svg") !important;
			}
		}
	}

	tab-item {
		margin: auto 3px 3px 3px !important;

		&:not([data-group-id="-1"]) {
			& .native-tab-group-line {
				margin-block-start: calc(-1 * var(--tab-y-offset));

				@media screen and (width <=70px) {
					margin-inline-start: calc(-0.75 * var(--tab-x-offset));
					margin-block-start: calc(-1.25 * var(--tab-y-offset));
				}
			}
		}

		& .extra-items-container.indent {
			margin-top: -3px;
		}

		/* Adjust style for tab that is muted. */
		&.muted {
			opacity: 0.5 !important;
		}

		/* personal customizations */
		/* Auto hide close buttons on tabs. */
		& .closebox {
			border-radius: 1em;
			height: 1.75em;
			width: 1.75em;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 0.25em !important;
			background: rgb(204, 87, 93) !important;
			visibility: collapse;

			&::after {
				background: var(--bg-color) !important;
			}
		}

		&[type="group"] {
			tab-item-substance {
				max-width: initial !important;
				background: var(--tab-surface-regular) !important;
				--tab-text: var(--tab-text-regular) !important;
			}

			tab-item-substance {
				border-width: var(--tab-y-offset) !important;
			}

			tab-twisty {
				--tab-text: var(--tab-text-regular);
				display: inline-block !important;
				pointer-events: !important;

				@media screen and (width > 70px) {
					visibility: visible !important;
				}
			}
		}

		&.active {
			& tab-item-substance {
				background: var(--theme-colors-toolbar) !important;
			}

			& .label-content {
				font-weight: bold !important;
				font-size: 14px !important;
			}

			& tab-twisty,
			& .label-content,
			& tab-counter {
				color: var(--theme-colors-tab_text) !important;
			}
		}

		&:hover {
			& tab-closebox {
				visibility: initial;

				&:hover {
					background: rgb(244, 96, 103) !important;
				}
			}

			& tab-label {
				color: var(--theme-colors-popup_highlight_text) !important;
				font-weight: bold;
			}
		}

		&.discarded {
			opacity: 0.75 !important;

			& tab-favicon {
				opacity: 0.5 !important;
			}
		}
	}
}

div.after-tabs,
tab-item:not(.pinned).collapsed {
	display: none !important;
}

tab-item.unread .label-content {
	font-style: italic !important;
}

tab-item-substance {
	box-shadow: none !important;
	border-radius: 5px;
	border: 1px solid var(--tab-border) !important;

	&:hover {
		background: var(--theme-colors-popup_highlight) !important;
		filter: opacity(80%) drop-shadow(0px 0px 0px #3498DB);
	}

	& > .contextual-identity-marker {
		left: 0.5em !important;
		right: 0.5em !important;
		bottom: 0.1em !important;
		width: auto !important;
		height: calc(var(--favicon-size) / 10) !important;
		top: auto !important;
	}
}


#subpanel-selector-anchor .icon {
	margin-right: 0.25em;
	margin-left: -0.5em;
}

.in-content-panel-root {
	div.in-content-panel {
		--panel-width: min(90vw, 280px) !important;
		max-width: 90vw !important;
		--panel-padding-popup: 5.5vw;

		&.open {
			.in-content-panel-extended-content span.title {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			&[data-align="left"] {
				left: var(--panel-padding-popup) !important;
			}

			&[data-align="right"] {
				right: var(--panel-padding-popup) !important;
			}
		}

		@media screen and (width > 250px) {
			--panel-padding-popup: 230px;
		}

		@media screen and (width > 70px) and (width <=270px) {
			--panel-padding-popup: 5.5vw;
		}
	}
}

@media screen and (width <=70px) {
	.left tab-item {
		margin-left: 3px !important;
	}

	.right tab-item {
		margin-right: 3px !important;
	}

	tab-item {
		width: calc(100% - 6px) !important;

		& tab-twisty {
			visibility: collapse !important;
		}

		& tab-favicon {
			margin: 0.25em !important;
		}

		& .extra-items-container.indent {
			width: calc(var(--tab-indent) * 0.15) !important;
		}

		tab-item-substance {
			margin-inline-start: calc((var(--tab-margin-inline-start) + var(--tab-group-member-indent) + var(--tab-indent)) * 0.25) !important;
			overflow: clip;
		}
	}
}
}
