/* /* Frank edited file - you are good to go...*/
@namespace url(http://www.w3.org/1999/xhtml);


@-moz-document url-prefix(about:home),
url-prefix(about:newtab) {
	body {
		background: url(bungou-stray-dogs-1.png) no-repeat center center fixed !important;
		background-size: cover !important;
	}

	a.top-site-button div.tile {
		border-radius: 50% !important;
		background-color: rgba(38, 48, 52, 0.7) !important;
	}

	a.top-site-button div.top-site-icon {
		border-radius: 50% !important;
		width: 100% !important;
		height: 100% !important;
		background-color: transparent !important;
	}

	ul.top-sites-list {
		display: inline-grid !important;
		grid-template-columns: auto auto auto auto;
		grid-gap: 1em;
		position: relative !important;
		left: 50% !important;
		transform: translate(-50%, 25%);
	}

	a.top-site-button div.tile:is(.active, :focus, :hover) {
		background-color: rgba(56, 70, 75, 0.7) !important;
	}

	button.personalize-button {
		opacity: 0.1 !important;
	}

	button.personalize-button:hover {
		opacity: 0.5 !important;
	}

	a.top-site-button div.title,
	a.top-site-button div.screenshot.active {
		display: none !important;
		visibility: collapse !important;
	}

	li.top-site-outer:is(.active, :focus, :hover) {
		background: none !important;
	}

	li.top-site-outer:is(.active, :focus, :hover) button.context-menu-button {
		opacity: 0.5 !important;
	}

	table#searchSuggestionTable,
	table#searchSuggestionTable td.contentSearchHeader,
	table#searchSuggestionTable .contentSearchSuggestionsContainer,
	table#searchSuggestionTable td.contentSearchDefaultEngineHeader,
	table#searchSuggestionTable button#contentSearchSettingsButton {
		background-color: rgba(34, 43, 46, 0.6) !important;
	}

	table#searchSuggestionTable > tr.contentSearchHeaderRow:nth-child(1) {
		height: 32px !important;
	}

	table#searchSuggestionTable {
		border-radius: 20px !important;
	}

	input#newtab-search-text {
		background-color: rgba(34, 43, 46, 0.6) !important;
		border-radius: 2.5em !important;
		outline: none !important;
	}

	button#searchSubmit {
		border-top-right-radius: 2.5em !important;
		border-bottom-right-radius: 2.5em !important;
		background: url("chrome://global/skin/icons/search-glass.svg") no-repeat center center;
	}

	input#newtab-search-text:focus {
		border: 1px solid rgba(46, 179, 152, 0.6) !important;
		box-shadow: 0 0 0 2px solid rgba(46, 179, 152, 0.6) !important;
	}
}
