#XfcePanelWindowWrapper #docklike-plugin > button image {
	transition-property: -gtk-icon-transform;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
	transition-delay: 10ms;
	-gtk-icon-transform: scale(0.75);
}

#XfcePanelWindowWrapper #docklike-plugin > button:hover image {
	transition-duration: 100ms;
	-gtk-icon-transform: scale(1);
}
