window.whiskermenu#whiskermenu-window .view {
	background-color: mix(transparent, @theme_bg_color, 0.5);
}

window.whiskermenu#whiskermenu-window .view.cell {
	background-color: transparent;
}

window.whiskermenu#whiskermenu-window .launchers:hover {
	border: 2px dotted @theme_selected_bg_color;
	border-radius: 5px;
}

window.whiskermenu#XfcePanelWindowWrapper,
window#XfcePanelWindowWrapper decoration {
	background-color: mix(transparent, @theme_bg_color, 0.75);
}
