window.whiskermenu#whiskermenu-window .view {
	background-color: mix(transparent, @theme_bg_color, 0.3);
}

window.whiskermenu#whiskermenu-window .view.cell {
	background-color: transparent;
}

window.whiskermenu#whiskermenu-window .launchers:hover {
	background-color: mix(transparent, mix(@theme_selected_bg_color, @warning_color, 0.5), 0.5);
}

window.whiskermenu#XfcePanelWindowWrapper,
window#XfcePanelWindowWrapper decoration {
	background-color: mix(transparent, @theme_bg_color, 0.5);
}
