@define-color fg #fff;
@define-color bg #1B2224;
@define-color border rgba(24, 28, 28, 0.75);

@define-color critical rgb(120, 34, 36);
@define-color low rgb(39, 41, 52);

@define-color critical_popup rgba(120, 34, 36, 0.5);
@define-color low_popup rgba(39, 41, 52, 0.5);

@define-color close rgb(20, 26, 27);
@define-color close_normal rgba(145, 90, 94, 0.75);
@define-color close_hover rgb(244, 96, 103);
@define-color close_active rgb(241, 48, 57);

.blurredBG,
.blurredBG.low,
.blurredBG.normal,
#main_window {
	background: alpha(@bg, 0.5);
}

/*
.blurredBG.notification {
	background: alpha(@bg, 0.3);
	border-radius: 5px;
}
*/
#img_img {
	border-radius: 10px;
}

.blurredBG.notification.critical {
	background: @critical_popup;
}

.blurredBG.notification.low {
	background: @low_popup;
}

.notificationInCenter {
	border-radius: 3px;
	border: 1pt @border solid;
	margin-right: 0.75em;
	margin-left: 0.5em;
}

.notificationInCenter.critical {
	background: @critical;
}

.notificationInCenter.low {
	background: @low;
}

.undershoot.top,
.undershoot.right,
.undershoot.bottom,
.undershoot.left {
	background-image: none;
}


button.userbutton:not(:hover):not(:active),
button.delete-all:not(:hover):not(:active) {
	border: 0.1em #1A1A1A solid;
}

button.deadd-noti-center.delete-all {
	margin-bottom: 2px;
}

button.button-close {
	background: @close_normal center;
	margin-right: 0.5em;

	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;

	border-radius: 1em;
}

button.button-close > label {
	font-weight: bolder;
	font-family: monospace;
	padding: 0em;
	margin: -1.4em;
	font-size: 1.4em;
	color: @close;
}

button.button-close:hover {
	background: @close_hover;
}

button.button-close:active {
	background: @close_active;
}

label {
	color: #eae2e0;
}

label.notification {
	color: #fef3f6;
}

label.critical {
	color: #FFF;
}

/*button:hover {
    border-radius: 0px;
    background: rgba(34, 43, 46, 0.2);
    border-width: 0;
    border-top: transparent;
    border-color: #f00;
    color: #eae2e0;
} */

/*.userbutton {*/
/*	background: #263034;*/
/*}*/

/*.userbutton:hover {*/
/*	background: #fee;*/
/*}*/

/*.userbuttonlabel {*/
/*	color: #eae2e0;*/
/*	font-size: 14px;*/
/*}*/

/*.userbuttonlabel:hover {*/
/*	color: #fee;*/
/*}*/

button.buttonState1 {
	background: rgba(46, 179, 152, 0.5);
}

button.buttonState2 {
	background: rgba(255, 255, 255, 0.3);
}

.userbuttonlabel.buttonState1 {
	color: #fff;
}

.userbuttonlabel.buttonState2 {
	color: #fff;
}

button.buttonState1:hover {
	background: rgba(34, 43, 46, 0.4);
}

button.buttonState2:hover {
	background: rgba(34, 43, 46, 0.3);
}

.userbuttonlabel.buttonState1:hover {
	color: #fee;
}

.userbuttonlabel.buttonState2:hover {
	color: #fee;
}

.title {
	font-weight: bold;
	font-size: 16px;
}

.appname {
	font-size: 10px;
}

.time {
	font-size: 12px;
}

.noti-center.time {
	font-size: 32px;
}
