:root {
	--menubar-margin-top: calc(var(--urlbar-min-height) - var(--toolbar-start-end-padding) / 2);

	&[uidensity="compact"] {
		--menubar-margin-top: var(--urlbar-min-height);
	}

	&:not([chromehidden~="location"]):not([chromehidden~="toolbar"]) #customization-footer {
		margin-bottom: 42px;
	}
}

#main-window[chromehidden=""] {

	/* ff < 119.0 */
	&:has(#navigator-toolbox-background) {
		& #navigator-toolbox-background {
			position: fixed;
			bottom: 0;
			display: block;
			z-index: 1;
			width: 100% !important;
		}

		& #navigator-toolbox {
			width: 100% !important;
			margin-bottom: -1px;
		}
	}

	/* ff >= 119.0 */
	&:not(:has(#navigator-toolbox-background)) {
		& #navigator-toolbox {
			position: fixed !important;
			bottom: 0;
			display: block;
			z-index: 1 !important;
			width: 100% !important;
		}
	}

	&:not([inDOMFullscreen="true"]) #browser {
		padding-bottom: calc(var(--urlbar-min-height) + var(--toolbar-start-end-padding) + var(--space-xsmall));
	}

	& #titlebar {
		padding-left: var(--thin-tab-width);
	}
}

/* TOOLBAR BALLOONS HAVE TO BECOME VISIBLE AGAIN */
panel[position^="bottomcenter"] {
	top: 0px;
}

#urlbar {
	&[open][breakout-extend] {
		top: auto !important;
		bottom: 0px !important;
		flex-direction: column-reverse;

		.urlbarView {
			top: -42px !important;
			display: flex !important;
			flex-direction: column-reverse;

			& .search-one-offs {
				bottom: -42px !important;
				position: relative;
			}

			& .urlbarView-body-inner {
				margin-top: 42px;
				border-bottom: none !important;
			}
		}

		& .urlbar-input-container,
		& #urlbar-input-container {
			display: inline-flex;
			position: absolute !important;
			bottom: 0 !important;
		}

		&[searchmode] #urlbar-search-mode-indicator {
			min-width: fit-content !important;
		}
	}

	moz-input-box.urlbar-input-box {
		overflow: hidden;

		#urlbar-input {
			min-width: calc(350px + 2 * var(--toolbarbutton-inner-padding)) !important;
			width: 100vw !important;
		}
	}
}

box.panel-viewstack:not(> #unified-extensions-view) {
	min-height: min-content;
	max-height: none !important;
}

/* That menu that appears with Alt, must not destroy the UI */
#titlebar {
	height: 0 !important;
}

#toolbar-menubar {
	min-height: min-content !important;
	z-index: 999999999999999;

	&[autohide="false"] {
		max-width: min-content;
		margin-top: calc(-1 * var(--tab-min-height));
		margin-left: var(--sidebar-collapsed-width);
	}

	&[autohide="true"] {
		transition-property: opacity;
		transition-duration: 0.4s;
		transition-timing-function: ease;
		opacity: 0;
		background-color: var(--toolbar-bgcolor) !important;

		&:not([inactive="true"]) {
			margin: 0;
			opacity: 1;
			position: absolute !important;
			bottom: 0;
			margin-left: calc(var(--button-size-icon) + var(--toolbarbutton-inner-padding));
			max-width: calc(100vw - var(--button-size-icon) - var(--toolbarbutton-inner-padding));
			width: 100vw;
			height: 100%;


			#menubar-items {
				flex-direction: revert-layer !important;

				#main-menubar {
					height: 100%;
				}
			}

			& ~ #nav-bar #urlbar-container {
				visibility: hidden !important;
			}
		}

		&,
		#main-menubar {
			height: 100%;
		}

		#main-menubar > menu {
			margin-top: calc(0.25 * var(--space-xsmall));
			border-top: 3px solid transparent;
			border-bottom: unset !important;
			padding-bottom: 4px !important;
			padding-top: 1px !important;

			&[open] {
				border-top-color: AccentColor;
			}

			menupopup {
				padding-bottom: 2px !important;
			}
		}
	}
}

#toolbar-menubar:not([inactive="true"]),
toolbarspring,
#titlebar {
	-moz-window-dragging: no-drag !important;
}

/* FIX YOUTUBE FULLSCREEN VIDEO */
ytd-app[masthead-hidden] #masthead-container.ytd-app {
	display: none;
}
