:root {
	--menubar-margin-top: calc(var(--urlbar-min-height) - var(--toolbar-start-end-padding) / 2);

	&[uidensity="compact"] {
		--menubar-margin-top: var(--urlbar-min-height);
	}

	&:not([chromehidden~="location"]):not([chromehidden~="toolbar"]) #customization-footer {
		margin-bottom: 42px;
	}
}

#main-window[chromehidden=""] {

	/* ff < 119.0 */
	&:has(#navigator-toolbox-background) {
		& #navigator-toolbox-background {
			position: fixed;
			bottom: 0;
			display: block;
			z-index: 1;
			width: 100% !important;
		}

		& #navigator-toolbox {
			width: 100% !important;
			margin-bottom: -1px;
		}
	}

	/* ff >= 119.0 */
	&:not(:has(#navigator-toolbox-background)) {
		& #navigator-toolbox {
			position: fixed;
			bottom: 0;
			display: block;
			z-index: 1;
			width: 100% !important;
		}
	}

	&:not([inDOMFullscreen="true"]) #browser {
		padding-bottom: calc(var(--urlbar-min-height) + var(--toolbar-start-end-padding));
	}

	& #titlebar {
		padding-left: var(--thin-tab-width);
	}
}

/* TOOLBAR BALLOONS HAVE TO BECOME VISIBLE AGAIN */
panel[position^="bottomcenter"] {
	top: 0px;
}

.urlbarView {
	top: auto !important;
	bottom: 40px !important;
}

#urlbar {
	&[breakout-extend] {
		top: auto !important;
		bottom: 0px !important;
	}

	&[open] {
		& .urlbarView-body-inner {
			margin-top: 42px;
			border-top: none !important;
		}

		& #urlbar-input-container {
			display: inline-flex;
			position: absolute !important;
			bottom: 0 !important;
		}

		&[searchmode] #urlbar-search-mode-indicator {
			min-width: fit-content !important;
		}
	}
}

#urlbar-input {
	min-width: calc(350px + 2 * var(--toolbarbutton-inner-padding)) !important;
	width: 100vw !important;
}

moz-input-box.urlbar-input-box {
	overflow: hidden;
}

box.panel-viewstack:not(> #unified-extensions-view) {
	min-height: min-content;
	max-height: none !important;
}

/* That menu that appears with Alt, must not destroy the UI */
#titlebar {
	height: 0 !important;
}

#toolbar-menubar:not([inactive="true"]) {
	margin-top: calc(0px - var(--menubar-margin-top)) !important;
	animation: appear 0.4s;
	max-width: min-content;
	padding-bottom: 0 !important;
	background-color: var(--menubar-background-color) !important;
}

#toolbar-menubar:not([inactive="true"]),
toolbarspring,
#titlebar {
	-moz-window-dragging: no-drag !important;
}

/* FIX YOUTUBE FULLSCREEN VIDEO */
ytd-app[masthead-hidden] #masthead-container.ytd-app {
	display: none;
}

@keyframes appear {
	from {
		margin-top: 0px;
		opacity: 0
	}

	to {
		margin-top: var(--menubar-margin-top);
		opacity: 1
	}
}
