:root {
	--menubar-margin-top: calc(var(--urlbar-min-height) - var(--toolbar-start-end-padding) / 2);

	&[uidensity="compact"] {
		--menubar-margin-top: var(--urlbar-min-height);
	}

	&:not([chromehidden~="location"]):not([chromehidden~="toolbar"]) #customization-footer {
		margin-bottom: 42px;
	}
}


@media -moz-pref("browser.urlbar.searchModeSwitcher.featureGate") or -moz-pref("browser.urlbar.scotchBonnet.enableOverride") {
	@media not -moz-pref("browser.urlbar.unifiedSearchButton.always") {
		#urlbar-searchmode-switcher {
			#urlbar:not([unifiedsearchbutton-available]) > .urlbar-input-container > & {
				position: inherit;
				visibility: collapse;
			}
		}
	}
}

#main-window[chromehidden=""] {

	/* ff < 119.0 */
	&:has(#navigator-toolbox-background) {
		& #navigator-toolbox-background {
			position: fixed;
			bottom: 0;
			display: block;
			z-index: 1;
			width: 100% !important;
		}

		& #navigator-toolbox {
			width: 100% !important;
			margin-bottom: -1px;
		}
	}

	/* ff >= 119.0 */
	&:not(:has(#navigator-toolbox-background)) {
		& #navigator-toolbox {
			position: fixed !important;
			bottom: 0;
			display: block;
			z-index: calc(var(--browser-area-z-index-tabbox) * 3) !important;
			width: 100% !important;
			margin-top: var(--space-xsmall);
		}
	}

	&:not([inDOMFullscreen="true"]) #browser {
		padding-bottom: calc(var(--urlbar-min-height) + var(--toolbar-start-end-padding) + var(--space-xsmall) + 1px);

		#sidebar-main {
			margin-bottom: calc(0px - var(--space-xsmall));
		}
	}

	& #titlebar {
		padding-left: var(--thin-tab-width);
	}
}

/* TOOLBAR BALLOONS HAVE TO BECOME VISIBLE AGAIN */
panel[position^="bottomcenter"] {
	top: 0px;
}

#urlbar {
	&:is(:not([focused]), [suppress-focus-border]) {
		& > .urlbar-input-container {
			border-color: var(--urlbar-box-bgcolor) !important;
		}
	}

	&[open][breakout-extend] {
		top: auto !important;
		bottom: 0px !important;
		flex-direction: column-reverse;

		.urlbarView {
			top: -42px !important;
			display: flex !important;
			flex-direction: column-reverse;

			& .search-one-offs {
				bottom: -42px !important;
				position: relative;
			}

			& .urlbarView-body-inner {
				margin-top: 42px;
				border-bottom: none !important;
			}
		}

		& .urlbar-input-container,
		& #urlbar-input-container {
			display: inline-flex;
			position: absolute !important;
			bottom: 0 !important;
		}

		&[searchmode] #urlbar-search-mode-indicator {
			min-width: fit-content !important;
		}
	}

	moz-input-box.urlbar-input-box {
		overflow: hidden;

		#urlbar-input {
			min-width: calc(350px + 2 * var(--toolbarbutton-inner-padding)) !important;
			width: 100vw !important;
		}
	}
}

box.panel-viewstack:not(> #unified-extensions-view) {
	min-height: min-content;
	max-height: none !important;
}

/* That menu that appears with Alt, must not destroy the UI */
#titlebar {
	height: 0 !important;
}

#toolbar-menubar {
	min-height: min-content !important;
	z-index: 999999999999999;

	&[autohide="false"] {
		max-width: min-content;
		margin-top: calc(-1 * var(--tab-min-height));
	}

	&[autohide="true"] {
		margin: 0;
		position: absolute !important;
		bottom: var(--space-xxsmall);
		height: var(--button-size-icon);
		max-width: calc(100vw - var(--button-size-icon) - var(--toolbarbutton-inner-padding));

		&:not([inactive=true]) ~ #nav-bar #nav-bar-customization-target {
			& > :not(:is(#urlbar-container ~ *, #firefox-view-button)) {
				visibility: hidden !important;
			}
		}

		#menubar-items {
			flex-direction: revert-layer !important;

			& > #main-menubar {
				height: 100%;

				& > menu {
					margin-top: calc(0.25 * var(--space-xsmall));
					border-top: 3px solid transparent;
					border-bottom: unset !important;
					padding-bottom: 4px !important;
					padding-top: 1px !important;

					&[open] {
						border-top-color: AccentColor;
					}

					menupopup {
						padding-bottom: 2px !important;
					}
				}
			}
		}
	}
}

#notifications-toolbar {
	max-width: calc(100vw - var(--button-size-icon) - var(--toolbarbutton-inner-padding));
	position: absolute;
	top: calc(-1 * var(--tab-height-with-margin-padding) - var(--space-medium));
	background: transparent !important;
	transform: translateX(-50%);
	left: 50% !important;
}

#toolbar-menubar:not([inactive="true"]),
toolbarspring,
#titlebar {
	-moz-window-dragging: no-drag !important;
}

/* FIX YOUTUBE FULLSCREEN VIDEO */
ytd-app[masthead-hidden] #masthead-container.ytd-app {
	display: none;
}
