/* Hide main tabs toolbar */
#main-window {
	&[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
		opacity: 0;
		pointer-events: none;
	}

	&:not([tabsintitlebar="true"]) #TabsToolbar {
		visibility: collapse !important;
	}

}

#sidebar-box {
	--collapsed-width: var(--thin-tab-width);
	--expanded-width: var(--wide-tab-width);
	z-index: calc(var(--browser-area-z-index-tabbox, 1) + var(--browser-area-z-index-sidebar, 1)) !important;

	&[sidebarcommand$="-sidebar-action"] {
		transition: all 200ms !important;
		min-width: var(--collapsed-width) !important;
		max-width: var(--collapsed-width) !important;

		/* Hide splitter, when using Tree Style Tab. */
		& + #sidebar-splitter {
			display: none !important;
		}

		/* Sidebar min and max width removal */
		& #sidebar {
			max-width: none !important;
			min-width: var(--collapsed-width) !important;
		}

		/* Hide sidebar header, when using Tree Style Tab. */
		#sidebar-header:not([hidden="true"]) {
			visibility: collapse;
		}

		&:hover,
		&:-moz-drag-over {
			transition: all 300ms !important;
			min-width: var(--expanded-width) !important;
			max-width: var(--expanded-width) !important;
			margin-right: calc(var(--collapsed-width) - var(--expanded-width)) !important;
		}

	}

	&:not([sidebarcommand$="-sidebar-action"]) {
		&:has(> #sidebar-header[hidden="true"]) {
			transition: all 200ms !important;
			min-width: calc(var(--expanded-width) + var(--collapsed-width) * 2) !important;
			max-width: calc(var(--expanded-width) + var(--collapsed-width) * 2) !important;
			margin-right: calc(-1 * (var(--expanded-width) + var(--collapsed-width))) !important;

			& + #sidebar-splitter {
				display: none !important;
			}
		}

		&:not(:has(> #sidebar-header[hidden="true"])) {
			min-width: var(--expanded-width) !important;
			max-width: none !important;
		}
	}

}

@media not (-moz-bool-pref: "sidebar.revamp") {
	#browser:has(> #sidebar-box[hidden="true"]) #tabbrowser-tabbox {
		border-left: calc(var(--thin-tab-width) + var(--space-xxsmall)) solid var(--background-color-canvas);
	}
}

#statuspanel {
	right: 0;
	left: unset !important;
}

#statuspanel-label {
	border-left-style: solid;
	border-top-left-radius: .3em;
	margin-left: 1em;

	border-top-right-radius: unset !important;
	border-right-style: unset !important;
	margin-right: unset !important;
	float: right;
}
