/* Hide main tabs toolbar */
@-moz-document url(chrome://browser/content/places/historySidebar.xhtml){
@media screen and (width <=70px) {
	#sidebar-search-container {
		visibility: collapse;
	}
}
}

#main-window {
	&[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
		opacity: 0;
		pointer-events: none;
	}

	&:not([tabsintitlebar="true"]) #TabsToolbar {
		visibility: collapse !important;
	}

	&:has(#sidebar-box:not( :is([hidden]:not([hidden="false"]),
				[positionend],
				[sidebar-positionend]))) {
		& :is(#toolbar-menubar, #notifications-toolbar) {
			max-width: calc(100vw - var(--thin-tab-width) - var(--space-xxsmall));
		}

		#toolbar-menubar:is([autohide="false"],
			:not([autohide])) {
			margin-left: calc(var(--thin-tab-width) + var(--space-xxsmall));
		}
	}
}

#sidebar-box {
	--collapsed-width: var(--thin-tab-width);
	--expanded-width: var(--wide-tab-width);
	z-index: calc(var(--browser-area-z-index-tabbox, 1) + var(--browser-area-z-index-sidebar, 1)) !important;
	transition: all 300ms ease-in-out allow-discrete;

	&[hidden="true"] {
		min-width: 0 !important;
		width: 0 !important;
		display: flex;

		& > * {
			display: none;
		}
	}

	&[sidebarcommand="viewCPMSidebar"] > #sidebar-header > #sidebar-switcher-target > #sidebar-icon {
		list-style-image: url(chrome://browser/skin/login.svg);
		-moz-context-properties: fill;
		fill: currentColor;
		opacity: 0.8;
	}

	&:not([hidden="true"]) {
		min-width: var(--collapsed-width) !important;
		max-width: var(--collapsed-width) !important;

		/* Hide splitter, when using Tree Style Tab. */
		& + #sidebar-splitter {
			display: none !important;
		}

		/* Sidebar min and max width removal */
		& #sidebar {
			max-width: none !important;
			min-width: var(--collapsed-width) !important;
			background-color: var(--toolbar-field-background-color) !important;
		}

		#sidebar-header:not([hidden="true"]) {
			overflow-x: clip;
			background-color: var(--toolbar-bgcolor);

			#sidebar-title {
				right: var(--space-small);
				position: absolute;
				transition-timing-function: ease-in;
				transition-property: opacity, visibility;
				transition-duration: 50ms, 100ms;
			}

			#sidebar-box:not(:is([positionend],
					[sidebar-positionend])) & {
				#sidebar-title {
					right: var(--space-xxsmall);
				}
			}

			#sidebar-box:is([positionend],
				[sidebar-positionend]) & {
				direction: rtl;

				#sidebar-title {
					direction: initial;
					left: var(--space-xxsmall);
				}
			}
		}

		&:not(:is(:hover,
				:has(#sidebar-switcher-target.active))) #sidebar-title,
		#sidebar-switcher-arrow,
		#sidebar-close {
			visibility: collapse;
			opacity: 0.0;
		}

		&:is(:hover,
			:has(#sidebar-switcher-target.active)),
		&:-moz-drag-over {
			min-width: var(--expanded-width) !important;
			max-width: var(--expanded-width) !important;
			transition: all 300ms ease-in-out !important;

			&:is([positionend], [sidebar-positionend]) {
				margin-left: calc(var(--collapsed-width) - var(--expanded-width)) !important;
			}

			&:not(:is([positionend],
					[sidebar-positionend])) {
				margin-right: calc(var(--collapsed-width) - var(--expanded-width)) !important;
			}

			#sidebar-title {
				transition-delay: 250ms;
				transition-duration: 50ms;
				visibility: visible !important;
			}
		}

		&:not([checked]) {
			&:has(> #sidebar-header[hidden="true"]) {
				min-width: calc(var(--expanded-width) + var(--collapsed-width) * 2) !important;
				max-width: calc(var(--expanded-width) + var(--collapsed-width) * 2) !important;
				margin-right: calc(-1 * (var(--expanded-width) + var(--collapsed-width))) !important;

				& + #sidebar-splitter {
					display: none !important;
				}
			}

			&:not(:has(> #sidebar-header[hidden="true"])) {
				min-width: var(--expanded-width) !important;
				max-width: none !important;
			}
		}
	}
}

@supports not -moz-bool-pref("sidebar.revamp") {
	#browser[chromehidden=""] {
		& {}

		#sidebar-box[hidden="true"] {
			#browser:has(&) #tabbrowser-tabbox {
				--sidebar-placeholder-width: calc(var(--thin-tab-width) + var(--space-xxsmall) - 1pt) solid var(--background-color-canvas);
			}

			#browser:has(&:not(:is([positionend],
						[sidebar-positionend]))) #tabbrowser-tabbox {
				border-left: var(--sidebar-placeholder-width);
			}

			#browser:has(&:is([positionend],
					[sidebar-positionend])) #tabbrowser-tabbox {
				border-right: var(--sidebar-placeholder-width);
			}
		}
	}
}

#statuspanel {
	width: 50vw !important;
	margin-inline: 25vw !important;
	justify-content: center;

	& #statuspanel-label {
		border-radius: var(--border-radius-large) var(--border-radius-large) 0 0 !important;
		padding-inline: 0.75rem !important;
		border-color: var(--color-accent-primary-active) !important;
		border-style: dashed dashed none !important;
		max-width: min-content !important;
		text-align: center;

		#statuspanel:not([type="status"]) & {
			min-width: 25vw;
		}

		#statuspanel[type="status"] & {
			min-width: min-content;
		}
	}
}
