browser[type="content-primary"],
browser[type="content"] {
	background: var(--tabbar-bg) !important;
}

#browser:has(> #tabbrowser-tabbox) {
	background-color: var(--lwt-accent-color);
	background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor));
}

menupopup,
panel,
arrowscrollbox.menupopup-arrowscrollbox {
	box-shadow: none !important;
	margin: unset !important;
	border-radius: 8px !important;
}

.tab-background[selected="true"] {
	background: rgba(33, 37, 41, 0.3) !important;
	-moz-appearance: none !important;
	background-image: none !important;
}

.private-browsing-indicator,
.private-browsing-indicator-with-label {
	display: none
}

:root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
	list-style-image: url("chrome://global/skin/icons/indicator-private-browsing.svg") !important;
}
