browser[type="content-primary"],
browser[type="content"] {
	background: var(--tabbar-bg) !important;
}

menupopup,
:is(panel, menupopup)::part(content) {
	box-shadow: none !important;
	margin: unset !important;
	border-radius: 0 !important;
}

window,
#main-window,
#toolbar-menubar,
#TabsToolbar,
#PersonalToolbar,
#navigator-toolbox,
#sidebar-box {
	background-color: transparent !important;
	-moz-appearance: none !important;
	background-image: none !important;
}

window,
#nav-bar {
	background-color: transparent !important;
	-moz-appearance: none !important;
	background-image: none !important;
}

.tab-background[selected="true"] {
	background: rgba(33, 37, 41, 0.3) !important;
	-moz-appearance: none !important;
	background-image: none !important;
}

.private-browsing-indicator {
	display: none
}

:root[privatebrowsingmode="temporary"] #PanelUI-menu-button {
	list-style-image: url("chrome://global/skin/icons/indicator-private-browsing.svg") !important;
}
