/* revamped sidebar */
@media (-moz-bool-pref: "sidebar.revamp") {

	#tabbrowser-tabbox,
	#appcontent {
		--chrome-content-separator-color: var(--button-border-color);
		border-radius: var(--border-radius-medium);
		border: 1px solid var(--background-color-canvas);
	}

	div.wrapper:has(> button-group.tools-and-extensions.actions-list) {
		& {
			min-width: unset !important;
			padding: var(--space-xsmall) var(--space-xxsmall) !important;
		}

		.actions-list {
			padding-inline-end: var(--space-xsmall) !important;
			padding-inline-start: var(--space-xxsmall);
		}

		button-group,
		div.bottom-actions {
			max-width: min-content;
			flex-flow: column-reverse;
			order: 1;
			padding: 0 !important;

			moz-button {
				--button-outer-padding-inline: var(--space-xxsmall) !important;
				--button-outer-padding-block: var(--space-xxsmall) !important;

				&:last-of-type {
					--button-outer-padding-block-end: var(--space-xsmall) !important;
				}

				&:first-of-type {
					--button-outer-padding-block-start: var(--space-xsmall) !important;
				}

				&[view="viewCustomizeSidebar"] {
					order: -1;
				}
			}
		}

		div.bottom-actions {
			order: 0;
		}
	}

	#tabbrowser-tabs[orient="vertical"] {
		& {}

		#tabs-newtab-button,
		#vertical-tabs-newtab-button {
			display: none;
			visibility: collapse;
		}

		&:has(> #vertical-tabs-newtab-button) {
			tab {
				--tab-inner-inline-margin: var(--space-xxsmall) !important;
				--tab-collapsed-background-width: var(--button-size-icon-small) !important;
				width: min-content !important;

				.tab-content {
					padding: 0 !important;
					justify-content: center !important;
				}

				.tab-background[selected] {
					box-shadow: 0 0 4px color-mix(in srgb, AccentColor 75%, transparent) !important;
				}
			}

			#vertical-pinned-tabs-container-separator {
				--tab-inner-inline-margin: var(--space-xsmall);
			}

			#vertical-pinned-tabs-container {
				grid-template-columns: auto !important;
			}

			&[overflow]::after {
				margin-inline: var(--space-xxsmall) !important;
				border-bottom-style: dotted !important;
				border-bottom-width: var(--space-medium) !important;
			}
		}

		&:has(> #newtab-button-container) {
			& {}

			#vertical-pinned-tabs-container:has(+ #newtab-button-container[showborder]) {
				border-bottom: 1px solid color-mix(in srgb, currentColor 25%, transparent);
				padding-inline-end: unset !important;
				padding-bottom: var(--space-xxsmall);
			}

			&:has(> #tabbrowser-arrowscrollbox[overflowing]) {
				border-bottom: unset !important;
			}

			#newtab-button-container {
				& {
					order: 2;
					border-top: unset !important;
					border: var(--button-border);
					padding: var(--button-padding-icon) !important;
					border-radius: var(--border-radius-medium);
					margin: 0 !important;
					width: var(--button-size-icon);
					height: var(--button-size-icon);
				}
			}

			.tabbrowser-tab {
				padding-right: var(--space-small) !important;
			}
		}
	}



	#sidebar-main:has(~ #sidebar-box[hidden="true"]) {
		border-right: calc(var(--thin-tab-width) + var(--space-xsmall)) solid var(--background-color-canvas);
	}

	#sidebar-launcher-splitter {
		visibility: collapse;
		display: none;
	}

	#navigator-toolbox:has(+ #browser > #sidebar-main:not([hidden="true"])) #sidebar-button {
		& {
			visibility: hidden;
		}

		html:not([privatebrowsingmode]) & {
			display: none;
		}
	}

	#sidebar-box {
		--collapsed-width: calc(var(--thin-tab-width) + var(--space-xsmall));
		z-index: calc(var(--browser-area-z-index-tabbox, 1) + var(--browser-area-z-index-sidebar, 1)) !important;
		padding-top: var(--space-small) !important;
		background: transparent !important;

		& {}

		&[sidebarcommand$="-sidebar-action"] {
			&:not(:hover):not(:-moz-drag-over) #sidebar {
				min-width: calc(var(--collapsed-width) - var(--space-small)) !important;
			}
		}
	}


	@-moz-document url(chrome://browser/content/sidebar/sidebar-history.html),
	url(chrome://browser/content/sidebar/sidebar-customize.html),
	url(chrome://browser/content/sidebar/sidebar-syncedtabs.html){
	html {
		& {
			display: flex;
			flex-direction: column;
		}

		body {
			flex: 1;
			height: min-content !important;
		}
	}
}
}
