/* Shrink sidebar until hovered, when using Tree Style Tab. */
:root {
	--thin-tab-width: 40px;
	--wide-tab-width: 250px;
	--tab-surface-regular: var(--theme-colors-tab);
	--tab-surface-active: var(--theme-colors-tab_selected, var(--theme-colors-toolbar, var(--browser-bg-for-header-image, var(--tab-like-surface))));
	--tab-surface-active-hover: var(--theme-colors-tab_selected, var(--theme-colors-toolbar, var(--browser-bg-for-header-image, var(--tab-like-surface))));
	--tab-surface-hover: rgba(255, 255, 255, .1)
		/* from https://searchfox.org/mozilla-central/rev/8d722de75886d6bffc116772a1db8854e34ee6a7/browser/themes/shared/tabs.inc.css#590 */
	;
	--tab-border: var(--theme-colors-tab_background_separator, var(--theme-colors-tab_background_text-30, hsl(240, 9%, 32%)
				/* from https://searchfox.org/mozilla-central/rev/8d722de75886d6bffc116772a1db8854e34ee6a7/browser/themes/shared/tabs.inc.css#684 : --tab-text-regular * 0.3 opacity */
			));
	--tab-text-regular: var(--theme-colors-tab_background_text, hsl(240, 9%, 98%)
			/* from https://searchfox.org/mozilla-central/rev/8d722de75886d6bffc116772a1db8854e34ee6a7/toolkit/themes/windows/global/tabbox.css#27 */
		);
	--tab-text-active: var(--theme-colors-toolbar_text, -moz-DialogText
			/* from https://searchfox.org/mozilla-central/rev/8d722de75886d6bffc116772a1db8854e34ee6a7/toolkit/themes/windows/global/tabbox.css#27 */
		);
	--tabbar-bg: var(--theme-colors-frame, hsl(235, 33%, 19%)
			/* from https://searchfox.org/mozilla-central/rev/8d722de75886d6bffc116772a1db8854e34ee6a7/browser/themes/windows/browser-aero.css#59 */
		);
	--menubar-background-color: var(--toolbar-bgcolor);
}
