@media (-moz-platform: linux) {
	/* url bar */

	#widget-overflow-mainView,
	#urlbar > #urlbar-background {
		background-color: color-mix(in srgb, transparent 50%, var(--toolbar-field-background-color)) !important;
	}

	#urlbar:is([focused], [open]) > #urlbar-background {
		background-color: color-mix(in srgb, transparent 50%, var(--toolbar-field-focus-background-color)) !important;
	}

	#urlbar:is([focused], [open]) > vbox.urlbarView {
		background-color: color-mix(in srgb, transparent 25%, var(--toolbar-field-focus-background-color)) !important;
		width: 100% !important;
		margin: unset !important;
		border-radius: var(--toolbarbutton-border-radius);
		margin-top: -1px !important;
	}

	/* overflow menu in customize menu */
	vbox#customization-panelWrapper box.panel-arrowcontent {
		backdrop-filter: contrast(100%) blur(6px) !important;
		border: none !important;
	}

	/* window transparencies */
	menupopup,
	panelview,
	panel {
		background-color: color-mix(in srgb, transparent 40%, var(--panel-background)) !important;
	}

	arrowscrollbox.menupopup-arrowscrollbox {
		background: transparent !important;
	}

	#toolbar-menubar:not([inactive="true"]),
	window#commonDialogWindow {
		--menubar-background-color: color-mix(in srgb, transparent 10%, var(--toolbar-bgcolor)) !important;
	}

	#navigator-toolbox {
		background-color: color-mix(in srgb, transparent 90%, var(--lwt-accent-color)) !important;
	}

	window:not(#commonDialogWindow),
	#main-window,
	#toolbar-menubar,
	#TabsToolbar,
	#PersonalToolbar,
	#nav-bar,
	#sidebar-box,
	#main-window {
		-moz-appearance: -moz-win-glass !important;
		background-image: none !important;
		background-color: transparent !important;
	}

	/* var(--toolbar-field-background-color) */

	/* Sidebar
#sidebar-box,
#sidebar-box:-moz-lwtheme-darktext,
#sidebar-box:-moz-lwtheme-brighttext {
	--sidebar-background-color: transparent !important;
	background: transparent !important;

}

#sidebar,
.sidebar-panel {
	background: transparent !important;
}
#appcontent {
	background: transparent !important;
}
*/
}
