@media (-moz-platform: linux) {
	/* url bar */

	#widget-overflow-mainView,
	#urlbar[open="true"] > #urlbar-background {
		backdrop-filter: contrast(100%) blur(var(--bct-blur)) saturate(25%) !important;
		border: none !important;
	}

	/* overflow menu in customize menu */
	vbox#customization-panelWrapper box.panel-arrowcontent {
		backdrop-filter: contrast(100%) blur(6px) !important;
		border: none !important;
	}

	/* window transparencies */
	#main-window {
		background: transparent !important;
		-moz-appearance: -moz-win-glass !important;
	}

	/* urlbar popup */
	#urlbar[open] #urlbar-background {
		opacity: 0.85 !important;
	}

	#urlbar[open] #urlbar-input-container {
		background-color: var(--toolbar-field-background-color);
	}

	menupopup,
	panelview {
		background-color: color-mix(in srgb, transparent 40%, var(--panel-background)) !important;
	}

	arrowscrollbox.menupopup-arrowscrollbox {
		background: transparent !important;
	}

	#toolbar-menubar:not([inactive="true"]) {
		--menubar-background-color: color-mix(in srgb, transparent 10%, var(--toolbar-bgcolor)) !important;
	}

	window,
	#main-window,
	#toolbar-menubar,
	#TabsToolbar,
	#PersonalToolbar,
	#navigator-toolbox,
	#sidebar-box {
		background-color: transparent !important;
		-moz-appearance: none !important;
		background-image: none !important;
	}

	window,
	#nav-bar {
		background-color: transparent !important;
		-moz-appearance: none !important;
		background-image: none !important;
	}

	/* var(--toolbar-field-background-color) */

	/* Sidebar
#sidebar-box,
#sidebar-box:-moz-lwtheme-darktext,
#sidebar-box:-moz-lwtheme-brighttext {
	--sidebar-background-color: transparent !important;
	background: transparent !important;

}

#sidebar,
.sidebar-panel {
	background: transparent !important;
}
#appcontent {
	background: transparent !important;
}
*/
}
