/* Hide main tabs toolbar */
#main-window {
	&[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
		opacity: 0;
		pointer-events: none;
	}

	&:not([tabsintitlebar="true"]) #TabsToolbar {
		visibility: collapse !important;
	}

}

@media (-moz-bool-pref: "sidebar.revamp") {

	/* Hide splitter, when using Tree Style Tab. */
	#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
		margin-bottom: 3px !important;

		&:not(:hover):not(:-moz-drag-over) #sidebar {
			width: calc(100% - var(--space-xsmall)) !important;
			min-width: calc(var(--thin-tab-width) - var(--space-xsmall)) !important;
		}
	}
}

#sidebar-box {
	&[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
		transition: all 200ms !important;
		min-width: var(--thin-tab-width) !important;
		max-width: var(--thin-tab-width) !important;
		z-index: 1;

		/* Hide splitter, when using Tree Style Tab. */
		& + #sidebar-splitter {
			display: none !important;
		}

		/* Sidebar min and max width removal */
		& #sidebar {
			max-width: none !important;
			min-width: var(--thin-tab-width) !important;
		}

		/* Hide sidebar header, when using Tree Style Tab. */
		#sidebar-header:not([hidden="true"]) {
			visibility: collapse;
		}

		&:hover,
		&:-moz-drag-over {
			transition: all 300ms !important;
			min-width: var(--wide-tab-width) !important;
			max-width: var(--wide-tab-width) !important;
			margin-right: calc(var(--thin-tab-width) - var(--wide-tab-width)) !important;
		}

	}

	&:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
		&:has(> #sidebar-header[hidden="true"]) {
			transition: all 200ms !important;
			min-width: calc(var(--wide-tab-width) + var(--thin-tab-width) * 2) !important;
			max-width: calc(var(--wide-tab-width) + var(--thin-tab-width) * 2) !important;
			margin-right: calc(-1 * (var(--wide-tab-width) + var(--thin-tab-width))) !important;
			z-index: 1;

			& + #sidebar-splitter {
				display: none !important;
			}
		}

		&:not(:has(> #sidebar-header[hidden="true"])) {
			min-width: var(--wide-tab-width) !important;
			max-width: none !important;
		}
	}

}

#statuspanel {
	right: 0;
	left: unset !important;
}

#statuspanel-label {
	border-left-style: solid;
	border-top-left-radius: .3em;
	margin-left: 1em;

	border-top-right-radius: unset !important;
	border-right-style: unset !important;
	margin-right: unset !important;
	float: right;
}
