#unified-extensions-view {
	& #unified-extensions-area {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		justify-content: space-between;

		& toolbaritem {
			& .unified-extensions-item-action-button {
				height: 40px;
				max-width: 40px;
			}
		}
	}

	& toolbaritem.unified-extensions-item,
	& unified-extensions-item {

		&:has(> toolbarbutton[disabled="true"]),
		& > .unified-extensions-item-menu-button,
		& .unified-extensions-item-contents {
			visibility: collapse;
			display: none;
		}
	}
}
