#unified-extensions-view {
	& #unified-extensions-area {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(calc(var(--size-item-large) + var(--size-item-small)), 1fr));
		justify-content: space-between;
		grid-auto-flow: row;

		& toolbaritem {
			& .unified-extensions-item-action-button {
				height: 40px;
				max-width: 40px;
			}

		}
	}

	& toolbaritem.unified-extensions-item,
	& unified-extensions-item,
	& .unified-extensions-item-row-wrapper {

		&:has(toolbarbutton[disabled="true"]:not(.unified-extensions-item-menu-button)),
		& > .unified-extensions-item-menu-button,
		& .unified-extensions-item-contents {
			visibility: collapse;
			display: none;
		}
	}
}
