[Unit]
Description=AUR auto push

[Service]
Slice=aur.slice
StandardOutput=syslog+console
StandardError=syslog+console
ExecStart=/bin/sh -c '/bin/find %h/Documents/aur %h/etc/aur -maxdepth 1 -not -name aur|%h/bin/aur-autopush --stdin'
