[Unit]
Description=AUR auto push
OnFailure=notify-fail@%n.service

[Service]
Slice=aur.slice
WorkingDirectory=%h/Documents/aur
ExecStart=%h/bin/aur-autopush
