[Unit]
Description=Build aur packages
OnFailure=notify-fail@%n.service

[Service]
Slice=aur.slice
MemoryHigh=100M
MemoryMax=300M
WorkingDirectory=%h/Documents
ExecStart=%h/bin/pkgbuild --list %h/Documents/aur/autobuild
