[Unit]
Description=Build aur packages
OnFailure=notify-fail@%n.service

[Service]
Slice=aur.slice
MemoryHigh=100M
MemoryMax=300M
WorkingDirectory=%h/Documents/aur
ExecStart=/bin/bash -ec 'shopt -s extglob;shopt -s nullglob;for pkg in ??-*/*/PKGBUILD;do %h/bin/pkgbuild $pkg|tee %h/logs/autobuild.log;done'