[Unit]
Description=Run VACUUM on sqlite db of geary

[Service]
Type=oneshot
ExecStart=find %h/.local/share/geary -mindepth 2 -maxdepth 2 -name '*.db' -exec sqlite3 '{}' VACUUM \;
RemainAfterExit=true