[Unit]
Description=Update available genshin impact redeem code

[Service]
ExecStart=/bin/env %h/.config/systemd/scripts/genshin-redeem %h/genshin-redeem
StandardOutput=syslog+console
StandardError=syslog+console