[Unit]
Description=sync github forks
OnFailure=notify-fail@%n.service

[Service]
MemoryMax=100M
ExecStart=%h/.config/systemd/scripts/github-sync-forks
