[Unit]
Description=Refresh local keyring

[Service]
Type=oneshot
ExecStart=/usr/bin/gpg --refresh-keys
ExecStart=/usr/bin/gpg --keyserver hkps://keyserver.ubuntu.com:443 --refresh-keys
SuccessExitStatus=2