[Unit]
Description=Notify on failure for %i

[Service]
ExecStart=/usr/bin/gdbus call --session --dest org.freedesktop.Notifications --object-path /org/freedesktop/Notifications --method org.freedesktop.Notifications.Notify systemd-user 0 dialog-error "Task failed" "'%i' encountered an error" '[]' '{"urgency": <byte 2>,"sound-name":<"dialog-error">}' 0
