[Unit]
Description=Notify on failure for %i

[Service]
ExecStart=busctl --user call org.freedesktop.Notifications /org/freedesktop/Notifications org.freedesktop.Notifications Notify susssasa{sv}i systemd-user 0 dialog-error "Task failed" "'%i' encountered an error" 0 2 urgency y 2 sound-name s dialog-error 0
