[Unit]
Description=Stand Alone Tray on Display %I

[Service]
Environment=DISPLAY="%I"
ExecStart=/usr/bin/stalonetray --config %h/.config/stalonetray/stalonetray.conf
RestartSec=3
Restart=on-error

