decoration {
	border-radius: 6px 6px 0 0;
	border-width: 0px;
	box-shadow: none;
	margin: 0;
}

decoration:backdrop {
	border-radius: 6px 6px 0 0;
	border-width: 0px;
	box-shadow: none;
	margin: 4px;
}

.window-frame:backdrop {
	box-shadow: none;
}

tooltip {
	border-radius: 0px;
	box-shadow: none;
}

tooltip.background {
	box-shadow: none;
}

tooltip.background label {
	padding: 0px;
	box-shadow: none;
	margin: 0px;
}


.titlebar,
.titlebar headerbar {
	box-shadow: none;
	background-color: alpha(@theme_bg_color, 0.5);
}

.titlebar:backdrop,
.titlebar headerbar:backdrop {
	box-shadow: none;
	background-color: alpha(@theme_bg_color, 0.35);
}
