decoration {
	border-radius: 6px 6px 0 0;
	border-width: 0px;
	box-shadow: none;
	margin: 0;
}

.window-frame:backdrop {
	box-shadow: none;
}

.titlebar,
.titlebar headerbar,
.titlebar HdyHeaderBar {
	box-shadow: none;
	background-color: alpha(@theme_bg_color, 0.5);
}

.titlebar:backdrop,
.titlebar headerbar:backdrop,
.titlebar HdyHeaderBar:backdrop {
	box-shadow: none;
	background-color: alpha(@theme_bg_color, 0.35);
}

window.whiskermenu#whiskermenu-window iconview.view {
	background-color: mix(transparent, @theme_bg_color, 0.3);
}

window.whiskermenu#whiskermenu-window iconview.view.cell {
	background-color: transparent;
}

window.whiskermenu#whiskermenu-window iconview.launchers:hover {
	background-color: mix(transparent, mix(@theme_selected_bg_color, @warning_color, 0.5), 0.5);
}

window#XfcePanelWindowWrapper,
window#XfcePanelWindowWrapper decoration {

	background-color: mix(transparent, @theme_bg_color, 0.5);

}
