:root {
	--tab-margin: 3px;
	--tab-margin-bottom: var(--tab-margin);
	--indent-size: 6px;
}

.contextual-identity-marker {
	top: auto !important;
	left: 0.5em !important;
	right: 0.5em !important;
	bottom: 0 !important;
	width: auto !important;
	margin: 0 !important;
	max-width: none !important;
	height: calc(var(--favicon-size) / 10) !important;
}

/* change the base box to layout position:absolute box, from the root container box to the tab item */
:root.group-tab li {
	position: relative;
}

/* autohide css  */
#tabbar {
	scrollbar-width: none;
}

div#subpanel-header {
	height: 24px !important;
}

/* Hide close buttons on tabs. */
tab-item .closebox {
	visibility: collapse;
}

tab-item:hover .closebox {
	visibility: initial;
}

/* Hide sound playing/muted button. */
.sound-button::before {
	display: none !important;
}

tab-item {
	margin: var(--tab-margin);
}

/* Adjust style for tab that is muted. */
tab-item.muted {
	opacity: 0.5;
}

/* personal customizations */
tab-item:hover tab-closebox {
	border-radius: 1em;
	height: 1.75em;
	width: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 0.25em;
	background: rgb(244, 96, 103);
}

div.after-tabs {
	display: none;
}

tab-item.discarded {
	opacity: 0.75;
}

tab-item.discarded tab-favicon {
	opacity: 0.5 !important;
}

tab-item.active tab-item-substance {
	background: var(--theme-colors-toolbar);
}

tab-item.active .label-content {
	font-weight: bold;
	font-size: 14px;
}

tab-item.active tab-twisty,
tab-item.active .label-content,
tab-item.active tab-counter {
	color: var(--theme-colors-tab_text);
}

tab-item.unread .label-content {
	font-style: italic;
}

tab-item-substance {
	box-shadow: none !important;
	border-radius: 5px 0px 0px 5px;
	border-left: 1px solid;
}

tab-item-substance:hover {
	background: var(--theme-colors-popup_highlight) !important;
	background-opacity: 0.3;
}

tab-item:hover tab-label {
	color: var(--theme-colors-popup_highlight_text) !important;
	font-weight: bold;
}

tab-item-substance:hover {
	filter: opacity(80%) drop-shadow(0px 0px 0px #3498DB);
}

#subpanel-selector-anchor .icon {
	margin-right: 0.25em;
	margin-left: -0.5em;
}

@media screen and (max-width: 70px) {
	tab-item:not(:hover) tab-twisty {
		visibility: collapse !important;
	}

	tab-item:not(:hover) tab-favicon {
		margin: 0.25em;
	}

	.left tab-item {
		margin-left: 0 !important;
	}

	.right tab-item {
		margin-right: 0 !important;
	}

	:root {
		--indent-size: 2px;
	}
}
